# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Exclude clutter when downloading from GitHub or the Goddot Asset Library.
/.github	export-ignore
/.github/**	export-ignore
/Lab		export-ignore
/Lab/**		export-ignore
